* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    border: solid black;
}

#userCards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    background: white;
    border: solid black;
}

.user-card {
    width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

@media (max-width: 600px) {
    .user-card {
        width: 100%;
    }
}
